body {
    background-color: antiquewhite;
    color: saddlebrown;
    font-family: Consolas;
    margin: 0px;
}
header {
    background-color: darksalmon;
    color: white;
    font-family: segoe script;
    margin: 0px;
}
main {
    color: maroon;
    font-family: lucida console;
    font-size: 16px;
}
footer {
    background-color: darksalmon;
    color: white;
    font-family: segoe script;
    margin: 0px;
    padding-right: 5px;
    font-style: italic;
    text-align: right;
    }
    a {
        text-decoration: none;
    }