body {
    background-color: antiquewhite;
    color: saddlebrown;
    font-family: Consolas;
    margin: 0px;
}
header {
    background-color: darksalmon;
    color: white;
    font-family: segoe script;
    margin: 0px;
}
main {
    color: maroon;
    font-family: lucida console;
    font-size: 16px;
    margin: 10px 20px 45px
}
footer {
    background-color: darksalmon;
    color: white;
    font-family: segoe script;
    margin: 0px;
    padding-right: 5px;
    font-style: italic;
    text-align: right;
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;

}

a {
    text-decoration: none;
    transition: 0.3s 2s;
}


a:link{
    color: blue;
    text-decoration: dotted;
    
}
a:visited{
    color: black;
    opacity: 0.3;

}
a:hover {
    color:whitesmoke;
    text-decoration: underline;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background: rgb(147, 17, 134);
    transition: 0,7;
}
a:active{
    border-radius: 10px;
   background: #91480c;
   color: rgb(239, 22, 22);
   padding: 15px 30px;
   position: relative;
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
div.menu{
    border: 7px solid maroon;
    border-radius: 5px;
    width:300px;
    margin: 0 auto;
    border-radius: 10px;

}
div.menu:hover{
background-color: gray;
box-shadow: 0 0 15px black;
}